$primary: rgb(61, 153, 169);
body {
  background-color: $primary;
}
.header {
  background: #3f3f3f;
}
.custom-input {
  height: 60px;
  font-size: 1.2rem;
}

.custom-output {
  background-color: #212529;
  color: #00ff00;
  font-family: "Courier New", monospace;
}
